{% extends 'base.html.twig' %}
{% block body %}

<link rel="stylesheet" href="{{ asset('css/evenements.css') }}">

<div class="wrapper">
    <div class="container">
        <div class="tile">
            <div class="type">Concert</div>
            <div class="text">
                <p>17/03/2023</p>
                <h3>Maneskin</h3>
            </div>
        </div>

        <div class="tile">
            <div class="type">Concert</div>
            <div class="text">
                <p>17/03/2023</p>
                <h3>Maneskin</h3>
            </div>
        </div>

        <div class="tile">
            <div class="type">Concert</div>
            <div class="text">
                <p>17/03/2023</p>
                <h3>Maneskin</h3>
            </div>
        </div>

        <div class="tile">
            <div class="type">Concert</div>
            <div class="text">
                <p>17/03/2023</p>
                <h3>Maneskin</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}