{% extends 'base.html.twig' %}
{% block stylesheet %} {{ asset('css/panier.css') }} {% endblock %}
{% block body %}

<div class="wrapper">
    <input type="hidden" name="liste" id="liste">

    <div class="zone" id="zone">
    </div>

    <div class="wrapper--side" >
        <div class="recap" id="recap">
        </div>

        {% if app.user %}
            <form action="valid-comm" method="post">
                <button id="valider">Valider</button>
            </form>
        {% else %}
            <form action="login" method="post">
                <button id="valider">Valider</button>
            </form>
        {% endif %}
    </div>


</div>
{% endblock %}
