{% extends 'base.html.twig' %}
{% block meta %}
    <meta name="robots" content="index,follow"/>
    <meta name="description" content="Une question ? Contactez nous !"/>
{% endblock %}
{% block title %}Contact{% endblock %}
{% block stylesheet %} {{ asset('css/autres.css') }} {% endblock %}

{% block body %}
<div class="wrapper">
    <div class="container">
    <h1>Contact</h1>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
