{% extends 'base.html.twig' %}
{% block meta %}
    <meta name="robots" content="index,follow"/>
    <meta name="description" content="Une question ? Contactez nous !"/>
{% endblock %}
{% block title %}Contact{% endblock %}

{% block body %}
<h1>Contact</h1>
{% endblock %}
