{% extends 'base.html.twig' %}
{% block meta %}
    <meta name="robots" content="index,follow"/>
    <meta name="description" content="Une question ? Consultez nos infos-pratiques !"/>
{% endblock %}
{% block title %}Infos pratique{% endblock %}

{% block body %}
<h1>Infos pratiques</h1>
{% endblock %}
