{% extends 'base.html.twig' %}
{% block meta %}<meta name="robots" content="noindex,nofollow"/>{% endblock %}
{% block title %}Mentions Légales{% endblock %}

{% block body %}
<h1>Mentions légales</h1>
{% endblock %}
