{% extends 'base.html.twig' %}
{% block meta %}<meta name="robots" content="noindex,nofollow"/>{% endblock %}
{% block title %}Commande{% endblock %}
{% block stylesheet %}{{ asset('css/panier.css') }}{% endblock %}

{% block body %}

<div class="wrapper" style="flex-direction: column;">
    <h1>Merci {{ app.user.clientPrenom }} pour la commande !</h1>
    <div style="display: flex; justify-content: center">
        <img src="{{ asset('img/check.gif') }}" alt="check mark animation" style="width: 350px; height: auto;">
    </div>
    <p style="text-align: center; font-size: 1.5rem">Retrouvez votre commande depuis votre <a style="color: #D80C61; font-size: 1.5rem" href="{{ path('app_profil') }}">profil</a>.</p>
</div>
{% endblock %}
