{% extends 'base.html.twig' %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">

    <div class="wrapper">
        <div class="slide--home"><h1>Les évènements près de chez vous</h1></div>
        <h2>Prochainement</h2>
        <div class="container--prochainement">

            <div class="tile">
                <div class="type">Concert</div>
                <div class="text">
                    <p>17/03/2023</p>
                    <h3>Maneskin</h3>
                </div>
            </div>

            <div class="tile">
                <div class="type">Concert</div>
                <div class="text">
                    <p>17/03/2023</p>
                    <h3>The pretty reckless</h3>
                </div>
            </div>

            <div class="tile">
                <div class="type">Concert</div>
                <div class="text">
                    <p>17/03/2023</p>
                    <h3>Maneskin</h3>
                </div>
            </div>

            <div class="tile">
                <div class="type">Cinéma</div>
                <div class="text">
                    <p>17/03/2023</p>
                    <h3>Maneskin</h3>
                </div>
            </div>

        </div>
    </div>

{% endblock %}