{% extends 'base.html.twig' %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/accueil.css') }}">

<div class="wrapper">
    <div class="slide--home"></div>
    <h1>Prochainement</h1>
    <div class="container--prochainement">

        <div class="tile">
            <div class="text">
                <p>17/03/2023</p>
                <h3>Maneskin</h3>
            </div>
        </div>

        <div class="tile">
            <div class="text">
                <p>17/03/2023</p>
                <h3>Maneskin</h3>
            </div>
        </div>

        <div class="tile">
            <div class="text">
                <p>17/03/2023</p>
                <h3>Maneskin</h3>
            </div>
        </div>

        <div class="tile">
            <div class="text">
                <p>17/03/2023</p>
                <h3>Maneskin</h3>
            </div>
        </div>

    </div>
</div>

{% endblock %}